services:
  db:
    build:
      context: ./init-db
      dockerfile: Dockerfile.db
    container_name: e-alumni_db
    restart: always
    env_file:
      - .env.production
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_network

  redis:
    image: redis:7-alpine
    container_name: redis-cache
    restart: always
    networks:
      - app_network
    command: redis-server --save 60 1 --loglevel warning
    volumes:
      - redis_data:/data

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: e-alumni_app
    restart: always
    expose:
      - "3000"
    env_file:
      - .env.production
    depends_on:
      - db
      - redis
    networks:
      - app_network

  nginx:
    image: nginx:alpine
    container_name: e-alumni_proxy
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
    networks:
      - app_network

volumes:
  postgres_data:
  redis_data:


networks:
  app_network:
    driver: bridge
